@media screen and (max-width: 768px) {
    h2 {
        font-size: 30px;
    }

    .botao {
        font-size: 18px;
        padding: 12px;
    }
}

#conteiner {
    background: #f18787;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botao-aceito:hover, .botao-rejeicao:hover {
    background-color: aliceblue;
}

.botao {
    background: rgb(190, 41, 41);
    color: rgb(250, 207, 207);
    border: none;
    margin-right: 30px;
    font-size: 30px;
    padding: 20px;
    width: 120px;
    border-radius: 7px;
}
